.big-section {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
/* h2 {
    order: 2;
} */
h1 {
    color: deeppink;
    
}
button {
    color: white;
    background-color: deeppink;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

